/*  Page background */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Poppins, Arial, sans-serif;

    /* background */
    background-color: rgb(231, 222, 222);

    background-size: cover;

    display: flex;
    flex-direction: column;
}

/* TOP BAR (logo+signup) */
.topbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    box-sizing: border-box;
}

.logo {
    color: black;
    font-size: 28px;
    margin: 0;
}

/* Signup Button */
.signup-btn {
    color: black;
    font-weight: bold;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 6px;
    border: 2px solid black;
    transition: 0.3s;
}

.signup-btn:hover {
    background: black;
    color: black;
}

/*  LOGIN BOX */
.login-container {
    width: 340px;
    margin: auto;
    padding: 35px;
    text-align: center;

    /*Glassmorphism effect means the UI element looks like glass. */
    background: #e2c4c4; 
    backdrop-filter: blur(15px);
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2); 
}

.login-container h2 {
    color: black;
    margin-bottom: 20px;
}

/* Inputs */
input {
    width: 85%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
}

/* Login Button */
.login-btn {
    width: 90%;
    padding: 12px;
    background: rgb(105, 90, 90);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: 0.3s;
}

.login-btn:hover {
    background:black;
}

/* Error message */
.error {
    color: #ff4d4d;
    font-size: 14px;
}
